:root {
  /* Colors */
  --clr-neutral: #f8f9fa;
  --clr-white: #ffffff;
  --clr-greyish: #6c757d;
  --clr-blueish: #1d3557;
  --clr-accent: #2a6f97;
  --clr-redish: #d62828;
  --clr-pinkish: #ffffffa0;
  /* Font Weights */
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
  /* Font Sizes */
  --fs-300: 1rem;
  --fs-400: 1.2rem;
  --fs-450: 1.4rem;
  --fs-500: 2.2rem;
  --fs-600: 3rem;
  /* Spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
  /* Font Families */
  --ff-primary: "Roboto", sans-serif;
  --ff-headings: "Titillium Web", sans-serif;
  /* Opacity */
  --op-50: 0.5;
  --op-90: 0.9;
}

/* Utility Classes */
.text-neutral {
  color: var(--clr-neutral);
}

.text-white {
  color: var(--clr-white);
}

.text-blueish {
  color: var(--clr-blueish);
}

.text-redish {
  color: var(--clr-redish);
}

.text-pinkish {
  color: var(--clr-pinkish);
}

.text-greyish {
  color: var(--clr-greyish);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-450 {
  font-size: var(--fs-450);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.op-50 {
  opacity: var(--op-50);
}

.op-90 {
  opacity: var(--op-90);
}

/* Core Things */
html {
  font-size: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral);
  color: var(--clr-blueish);
}

/* Headings in General */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  color: var(--clr-white);
  text-align: center;
}

/* Reusable Components */
.row {
  inline-size: 100%;
  max-inline-size: 1600px;
  margin-inline: auto;
}

.button {
  border: 0;
  padding: var(--space-xs);
  cursor: pointer;
  color: var(--clr-accent);
}

section {
  padding: var(--space-xs);
  margin-inline: auto;
}

h2 {
  font-size: var(--fs-450);
  text-transform: uppercase;
  margin-bottom: var(--space-md);
}

h2+p {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  color: var(--clr-neutral);
  text-align: center;
  padding-inline: var(--space-lg);
  line-height: 1.1;
  margin-bottom: var(--space-md);
}

/* Header Section */
.header {
  position: sticky;
  top: 0;
  z-index: 7;
}

.navbar {
  height: 40px;
  background: linear-gradient(to right,
      var(--clr-blueish) 0%,
      var(--clr-blueish) 1%,
      var(--clr-accent) 100%);
  border-bottom: 1px solid #ffffff49;
}

.navbar-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--space-xs);
}

.logo {
  max-width: 80px;
}

.navbar-content {
  border-top: 1px solid #ffffff76;
  padding: var(--space-xs) var(--space-lg);
  width: 100%;
  height: 50vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  background: linear-gradient(to right,
      var(--clr-blueish) 0%,
      var(--clr-blueish) 1%,
      var(--clr-accent) 100%);

}


.show {
  display: flex;
}

.nav-links {
  width: 100%;
}

.nav-links li {
  margin-bottom: var(--space-md);
}

.nav-links li:last-child {
  margin-bottom: 0;
}

.nav-links li a {
  display: block;
  border: 1px dotted #ffffff37;
  text-align: center;
  padding: var(--space-xxs);
}

.nav-links li a:hover {
  color: var(--clr-white);
  background-color: var(--clr-blueish);
}

.nav-right {
  width: 100%;
  list-style: none;
}

.cv-button {
  background-color: var(--clr-blueish);
  display: block;
  text-align: center;
  color: var(--clr-neutral);
  border: 1px dashed var(--clr-greyish);
  transition: .3s ease-in-out;
}

.cv-button:hover {
  color: var(--clr-white);
  background-color: var(--clr-redish);
}

.nav-toggler {
  color: var(--clr-white);
  cursor: pointer;
  padding: var(--space-xs);
}

.nav-toggler i {
  font-size: 16px;
  display: none;
  transition: 0.3s;
}

.nav-toggler .fa-bars {
  display: block;
}

.nav-toggler .fa-times {
  display: none;
}

.nav-toggler.show .fa-bars {
  display: none;
}

.nav-toggler.show .fa-times {
  display: block;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  background: radial-gradient(circle at center,
      var(--clr-blueish),
      var(--clr-accent));
  min-height: 100vh;
}

.hero-image {
  margin-inline: auto;
}

.hero-title {
  font-size: var(--fs-450);
  color: var(--clr-pinkish);
  text-align: center;
  line-height: .7;
  font-family: var(--ff-headings);
  margin-bottom: var(--space-md);
}

/* Hero Terminal Text */
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 15x;
  color: var(--clr-neutral);
  font-size: var(--fs-600);
}

#hero-terminal-text {
  color: var(--clr-white);
}

.hero p {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  color: var(--clr-neutral);
  text-align: center;
  padding: var(--space-lg);
  line-height: 1.1;
  margin-bottom: var(--space-md);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  align-self: stretch;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  color: var(--clr-neutral);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8x);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: var(--space-md) var(--space-lg);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1);
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  position: relative;
  bottom: var(--space-lg);
}

.social-icon {
  font-size: var(--fs-450);
  background: rgba(19, 10, 185, 0.1);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.318);
  border-radius: 4px;
  padding: var(--space-xxs) var(--space-xs);
  color: var(--clr-neutral);
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Works Section */
#works {
  background: radial-gradient(circle at center,
      var(--clr-accent),
      var(--clr-blueish));
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: var(--space-xs);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.project-title {
  font-size: var(--fs-300);
  padding-bottom: var(--space-xs);
}

.project-screenshot img {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.project-links {
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-end;
}

.project-links a {
  background-color: var(--clr-accent);
  padding: var(--space-xs);
  border-radius: 4px;
  border: 1px solid #ffffff2e;
  font-size: var(--fs-300);
  color: var(--clr-neutral);
  transition: all 0.3s ease-in-out;
}

.project-links a:hover {
  color: var(--clr-white);
  background-color: var(--clr-blueish);
}

/* Contact Section */
#contact {
  background: radial-gradient(circle at center,
      var(--clr-blueish),
      var(--clr-accent));
}

.contact-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: var(--space-sm);
}

.geo-map {
  order: 2;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

iframe {
  border-radius: 4px;
  padding: var(--space-xxs);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-secondary {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-radius: 4px;
  color: var(--clr-neutral);
  padding: var(--space-md);
  font-size: var(--fs-300);
}

input {
  padding: var(--space-xs);
  width: 100%;
  border-radius: 4px;
  background-color: var(--clr-blueish);
  border: 1px solid var(--clr-accent);
  color: var(--clr-neutral);
}


.send-mail {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: var(--space-sm);
}

.send-mail:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Footer Section */
.footer {
  background: linear-gradient(to left,
      var(--clr-blueish) 0%,
      var(--clr-blueish) 1%,
      var(--clr-accent) 100%);
  display: grid;
  gap: var(--space-lg);
  padding: var(--space-md);
}

.footer h3 {
  font-size: var(--fs-400);
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.footer-link {
  background: rgba(106, 103, 167, 0.22);
  backdrop-filter: blur(10px);
  color: var(--clr-neutral);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 4px;
}

.footer-link a {
  transition: 0.3s ease;
  font-size: var(--fs-300);
  padding: var(--space-xxs) var(--space-md);
}

.footer-link a:hover {
  background-color: var(--clr-blueish);
  border-radius: 4px;
}

.credit {
  font-size: .8rem;
  line-height: 1;
  color: #ffffffb7;
  text-align: center;
}