header {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 0.2%,
    rgb(7, 26, 48) 9.1%
  );
}
section#hero {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
}
#works {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 0, 0) 0%,
    rgb(25, 7, 109) 15.9%,
    rgb(16, 32, 85) 15.9%,
    rgb(121, 10, 28) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}
#contact {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}
#footer {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  border-top: 1px solid #ffffff41;
  color: #ffffffe0;
}
